<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand">Recipe Book</a>
    <button
      (click)="collapsed = !collapsed"
      class="navbar-toggler dropdown-toggle"
      type="button"
    ></button>
    <div [class.collapse]="collapsed" class="navbar-collapse">
      <ul class="navbar-nav me-auto nav-pills my-1" style="column-gap: 7px">
        <li *ngIf="!loggedIn" class="nav-item">
          <a
            [routerLink]="['auth']"
            class="nav-link ps-2"
            routerLinkActive="active"
          >Auth</a
          >
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a
            [routerLink]="['recipes']"
            class="nav-link ps-2"
            routerLinkActive="active"
          >Recipe</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['shopping-list']"
            class="nav-link ps-2"
            routerLinkActive="active"
            >Shopping list</a
          >
        </li>
      </ul>

      <ul class="navbar-nav">
        <li *ngIf="loggedIn">
          <a (click)="onLogout()" style="padding-top: 6px" class="nav-link ps-2"
          >Logout</a
          >
        </li>

        <li (click)="onManageClick()" class="dropdown">
          <button
            [disabled]="!loggedIn"
            appDropdown
            class="btn btn-secondary dropdown-toggle"
            type="button"
          >
            Manage
          </button>

          <ul
            class="dropdown-menu dropdown-menu-dark right-0"
            style="margin-top: 7px"
          >
            <li>
              <a (click)="onSaveData()" class="dropdown-item">Save data</a>
            </li>
            <li>
              <a (click)="onFetchData()" class="dropdown-item">Fetch data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
