<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <label class="form-label" for="name">Name:</label>
            <input
              class="form-control"
              formControlName="name"
              id="name"
              type="text"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label class="form-label" for="imgPath">Image URL:</label>
          <input
            #imgPath
            class="form-control"
            formControlName="imgPath"
            id="imgPath"
            type="text"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <img
            [src]="imgPath.value"
            alt="&#9888; URL Is Not Correct!"
            class="custom-image"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label class="form-label" for="description">Description:</label>
          <textarea
            class="form-control"
            formControlName="desc"
            id="description"
            rows="6"
          ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" formArrayName="ingredients">
          Ingredients:
          <div
            *ngFor="let ingredientCont of ingControls; let i = index"
            [formGroupName]="i"
            class="row gap-2"
          >
            <div class="col-sm-8 col-12">
              <input class="form-control" formControlName="name" type="text" />
            </div>
            <div class="col-sm-2 col-8">
              <input
                class="form-control col-sm-auto"
                formControlName="amount"
                type="number"
              />
            </div>
            <button
              (click)="onDeleteIng(i)"
              class="btn btn-danger text-dark col-sm-1 col-3 fw-bold"
            >
              &#10005;
            </button>
          </div>
        </div>
      </div>

      <button (click)="onAddIngredient()" class="btn btn-success" type="button">
        Add Ingredient
      </button>

      <div class="row mt-2">
        <div class="col-sm-12 button-group-custom justify-content-end">
          <button
            [disabled]="editForm.invalid"
            class="btn btn-success"
            type="submit"
          >
            Save
          </button>
          <button (click)="onCancel()" class="btn btn-danger" type="button">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
