<div class="row">
  <div class="col-xs-12 text-center">
    <img
      [alt]="clickedRecipe.name"
      [src]="clickedRecipe.imgPath"
      class="custom-image"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 class="h1">{{ clickedRecipe.name }}</h1>
  </div>
</div>
<button appDropdown class="btn btn-primary dropdown-toggle" type="button">
  Manage recipe
</button>
<ul class="dropdown-menu" style="margin-top: 7px">
  <li>
    <a (click)="updateIngredient()" class="dropdown-item"
      >Add Ingredients to Shopping List</a
    >
  </li>
  <li><a (click)="onEditRecipe()" class="dropdown-item">Edit Recipe</a></li>
  <li><a (click)="onDeleteRecipe()" class="dropdown-item">Delete Recipe</a></li>
</ul>

<div class="row">
  <div class="col-xs-12">{{ clickedRecipe.desc }}</div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        *ngFor="let ingredient of clickedRecipe.ingredients"
        class="list-group-item"
      >
        {{ ingredient.name }} | {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
