<div class="row">
  <div class="">
    <form #shoppingForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-5 col-8">
          <label class="form-label" for="name">Name</label>
          <input
            #name="ngModel"
            class="form-control"
            id="name"
            name="name"
            ngModel
            pattern=".*\S+.*"
            required
            type="text"
          />
          <div
            *ngIf="name.invalid && name.dirty"
            class="alert alert-danger mt-2"
          >
            Enter Name Correctly!
          </div>
        </div>
        <div class="col-lg-2 col-4">
          <label class="form-label" for="amount">Amount</label>
          <input
            #amount="ngModel"
            [min]="1"
            class="form-control"
            id="amount"
            name="amount"
            ngModel
            pattern=".*\S+.*"
            required
            type="number"
          />
          <div
            *ngIf="amount.invalid && amount.dirty"
            class="alert alert-danger mt-2"
          >
            Min amount is 1!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="button-group-custom">
          <button
            [disabled]="!shoppingForm.valid"
            class="btn btn-success"
            type="submit"
          >
            {{ editMode ? "Edit" : "Add" }}
          </button>
          <button
            (click)="onDelete()"
            *ngIf="editMode"
            class="btn btn-danger"
            type="button"
          >
            Delete
          </button>
          <button
            (click)="onCancel()"
            [disabled]="!editMode"
            class="btn btn-primary"
            type="button"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
