<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #shoppingForm="ngForm">
      <div class="row">
        <div class="col-sm-5">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            name="name"
            id="name"
            type="text"
            ngModel
            required
          />
        </div>
        <div class="col-sm-2">
          <label class="form-label" for="amount">Amount</label>
          <input
            class="form-control"
            name="amount"
            id="amount"
            type="number"
            [min]="1"
            ngModel
            required
            #amount="ngModel"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-12">
          <div
            class="alert alert-danger mb-3"
            *ngIf="amount.invalid && amount.dirty"
          >
            Min amount is 1!
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 button-group-custom">
          <button
            [disabled]="!shoppingForm.valid"
            class="btn btn-success"
            type="submit"
          >
            {{ editMode ? "Edit" : "Add" }}
          </button>
          <button
            *ngIf="editMode"
            (click)="onDelete()"
            class="btn btn-danger"
            type="button"
          >
            Delete
          </button>
          <button
            [disabled]="!editMode"
            (click)="onCancel()"
            class="btn btn-primary"
            type="button"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
